footer
{
  background-color:#aaa;
}
/* Střední zarovnání obsahu záložek */
.nav-tabs-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Odsazení obsahu záložek pro lepší vizuální vzhled */
.nav-tabs-center .nav-item {
  margin-right: 15px;
}


.tabs-1-3  {
  display: flex;
  justify-content: center;
  align-items: center;
  
}